@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

* {
  font-family: "Hammersmith One", sans-serif;
}

/* Section A */

.container-a {
}

header {
  background-color: #494949;
  color: white;
  padding: 1.1em;
}

header h1 {
  color: white;
  font-style: italic;
  font-size: 2.5em;
  margin-left: 2.5em;
  letter-spacing: 0.2em;
}

nav {
  background-color: #303030;
  padding: 0.2em;
}

nav ul {
  color: white;
  list-style-type: none;
  word-spacing: 5em;
  margin-left: 5em;
}

nav li {
  display: inline;
}

nav a {
  color: white;
}

a:hover {
  color: rgb(255, 80, 80);
}

a:link {
  color: white;
  text-decoration: none;
}

/* Section B */

.container-b {
  background-color: #f4f4f4;
  height: 480px;
  padding: 1em;
}

.description h1 {
  font-size: 50px;
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 0cm;
}

.description p {
  font-size: 16px;
  margin-left: 3.2em;
  margin-bottom: 3em;
}

.container-b input {
  margin-left: 3.9em;
  size: 20;
  width: 250px;
  height: 60px;
  padding-right: 300px;
}

.container-b button {
  margin-left: -150px;
  padding: 0 0 4px 0;
  width: 140px;
  height: 55px;
  font-size: 20px;
}

button {
  background-color: rgb(211, 211, 211);
  color: black;
  border: 0;
  font-size: 10px;
  text-align: center;
}

button:hover {
  background-color: rgb(255, 80, 80);
}

/* Section C */
